# yarn
.yarn/*
!.yarn/plugins
!.yarn/releases
**/yarn-error.log*

# dependencies
**/node_modules
# misc
**/.DS_Store
# hardhat
packages/contract/cache
packages/contract/artifacts
packages/contract/hardhat.config.js